<!-- תיבת החיפוש
    <label style="color: white;float: right;margin-left: 0.2em;display: block;" class="o">:כתוב את כתובתך בתיבת
        החיפוש</label> -->
<!-- <table class="table table-striped" >
    <tr>
        <th>מקום</th>
        <th>תפילה</th>
        <th>נוסח</th>
        <th>ספר תורה</th>
        <th>סיבה לעמוד</th>
        <th>שעה</th>
        <th>גמישות בזמן לפני</th>
        <th>גמישות בזמן אחרי</th>
        <th>תאריך</th>
        <th>תדירות</th>
    </tr>
    ////////////////////////////
    <tr *ngFor="let item of MinyanService.MList">
        <td>{{item.PlaceName}}</td>
        <td>{{item.Pray}}</td>
        <td>{{item.Nusach}}</td>
        <td>{{item.Tora}}</td>
        <td>{{item.reasonAmudId}}</td>
        <td>{{item.Hour}}</td>
        <td>{{item.Before}}</td>
        <td>{{item.After}}</td>
        <td>{{item.Datetime}}</td>
        <td>{{item.Tadirut}}</td>
        <input type="button" value="הירשם למנין" (click)="SignUp(item.Id)">
    </tr> 
</table>   -->


<!-- <p-table [columns]="ListMinyan" [value]="MinyanService.MList" dir="rtl">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
            </td>
            <td>        <input type="button" value="הירשם למנין" (click)="SignUp(rowData.Id)">
            </td>
        </tr>
    </ng-template>
</p-table> -->

<!-- <p-table *ngIf="loader" [columns]="ListMinyan" [value]="MinynimZminimService.ListMZ" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true" 
    [rows]="15" [totalRecords]="totalRecords">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table> -->

<!-- <p-table [columns]="cols" [value]="cars" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true" 
    [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table> -->
<!-- <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 1">
                <div class="p-grid -fluid" style="font-size:16px;padding:20px">
                    <div class="p-col-12 p-md-3" style="text-align:center">
                        <img [attr.alt]="rowData.brand" src="assets/showcase/images/demo/car/{{rowData.brand}}.png">
                    </div>
                    <div class="p-col-12 p-md-9">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <b>Vin:</b> {{rowData.vin}}
                            </div>
                            <div class="p-col-12">
                                <b>Year:</b> {{rowData.year}}
                            </div>
                            <div class="p-col-12">
                                <b>Brand:</b> {{rowData.brand}}
                            </div>
                            <div class="p-col-12">
                                <b>Color:</b> {{rowData.color}}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1 class="first" style="text-align: center;color: goldenrod;">רשימת מנינים</h1>
            <p-table style="top:20px;" #dt1 [columns]="ListMinyan" [value]="MinyanService.ListFoundPlace" dir="rtl"
                [paginator]="true" [rows]="5" [rowsPerPageOptions]="
[2,50,100]" stateStorage="local" stateKey="statedemo-local">
                <!-- dataKey="vin" [resizableColumns]="true" [reorderableColumns]="true"
    selectionMode="single" [(selection)]="selectedCar1" stateStorage="session" stateKey="statedemo-session" -->
                <ng-template pTemplate="header" let-columns>
                    <tr>

                        <th style="text-align: center;color: goldenrod;" *ngFor="let col of columns"
                            [pSortableColumn]="col.field" pResizableColumn pReorderableColumn
                            [hidden]="col.header=='1תדירות'">
                            {{col.header}}
                            <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                        </th>
                        <th></th>
                        <th></th>


                    </tr>
                    <tr>

                        <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid"
                            [hidden]="col.header=='תדירות'">
                            <p-multiSelect dir="ltr" [style]="{'float': 'right'}" *ngSwitchCase="'Pray'" [options]="lp"
                                defaultLabel="כל התפילות" (onChange)="dt1.filter($event.value, col.field,'in')">

                            </p-multiSelect>
                            <p-multiSelect dir="ltr" *ngSwitchCase="'Nusach'" [options]="ln" defaultLabel="כל הנוסחים"
                                (onChange)="dt1.filter($event.value, col.field,'in')"></p-multiSelect>
                            <p-multiSelect dir="ltr" *ngSwitchCase="'Tadirut'" [options]="lt"
                                defaultLabel="כל התדירויות" (onChange)="dt1.filter($event.value, col.field,'in')">
                            </p-multiSelect>
                            <input *ngSwitchCase="'PlaceName'" pInputText ngx-google-places-autocomplete
                                #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" />
                            <!-- (onSelect)="onDateSelect($event)" -->

                            <!-- <p-dropdown *ngSwitchCase="'Pray'" [options]="PrayService.ListP" [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'equals')" optionLabel="Pray_name"></p-dropdown> -->
                            <p-calendar *ngSwitchCase="'Hour'" [timeOnly]="true" inputId="timeonly" (input)="dt1.filter($event.value, 
                col.field, 'contains')">
                            </p-calendar>
                            <!-- <div *ngIf="col.field!='PlaceName'"> -->
                            <!-- <input pInputText type="text" (input)="dt1.filter($event.target.value, 
                col.field, col.filterMatchMode)" [value]="dt1.filters[col.field]?.value"></div> -->



                            <!-- <p-calendar *ngSwitchCase="'Datetime'" (onChange)="dt1.filter($event.value, col.field,col.filterMatchMode )" ></p-calendar> -->

                        </th>
                        <th></th>


                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <ng-container *ngFor="let col of columns">
                            <td style="  text-align: center;
                        color: darkblue;" *ngIf="col.field!='Tadirut'">
                                <div *ngIf="rowData['Tadirut']=='כל יום'">
                                    <div style="text-align: center;" *ngIf="col.field=='heDate'">
                                        <p>__________</p>
                                    </div>
                                </div>
                                <!-- <div *ngIf="rowData['Tadirut']=='חד פעמי'">
                                <div style="text-align: center;" *ngIf="col.field=='heDate'">
                                    {{rowData[col.field]}}
                                </div>
                            </div> -->

                                <!-- <div style="text-align: center;" *ngIf="col.field=='Datetime'" > -->
                                <!-- {{getHebrew(rowData[col.field])}} -->
                                <!-- {{rowData[col.field]|date:"dd/MM/yyyy"}} -->

                                <div style="text-align: center;" *ngIf="col.field=='Hour'">
                                    {{rowData[col.field]|date:"HH:mm"}}
                                </div>
                                <div style="text-align: center;"
                                    *ngIf="col.field!='Datetime'&& col.field!='Hour' &&col.field!='Tadirut'">
                                    {{rowData[col.field]}}
                                </div>

                            </td>
                        </ng-container>
                        <td>
                            <button type="button" (click)="showBasicDialog(rowData.Id)" pButton
                                icon="pi pi-external-link" label="לפרטים נוספים"></button>
                            <!-- <p-dialog dir="center" header="פרטים נוספים" [(visible)]="displayBasic" [style]="{width: '50vw'}"
                    [baseZIndex]="10000" [baseZIndex]="100" [maximizable]="true" [draggable]="false"
                                [resizable]="false"> -->
                            <p-dialog header="פרטים נוספים" [(visible)]="displayBasic" [modal]="true"
                                [style]="{width: '50vw'}">

                                <div class="p-grid -fluid  " dir="rtl">

                                    <div class="p-col-12 p-md-9 w3-center">
                                        <div class="p-grid">
                                            <div class="p-col-12">
                                                <b>נוסח ס"ת:</b> {{minyan.Tora}}
                                            </div>
                                            <div class="p-col-12">
                                                <b>סיבה לתפיסת לעמוד:</b> {{minyan.Amud}}
                                            </div>
                                            <div class="p-col-12">
                                                <b>גמישות בדקות לפני השעה :</b>{{minyan.Before}}
                                            </div>
                                            <div class="p-col-12">
                                                <b>גמישות בדקות אחרי השעה:</b> {{minyan.After}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <p-footer>
                                    <!-- <button type="button" pButton icon="pi pi-times" (click)="displayPosition=false"
                                        label="No" class="ui-button-secondary"></button> -->

                                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                </p-footer>
                            </p-dialog>
                        </td>
                        <td>
                            <!-- <input type="button" value="הירשם למנין" (click)="SignUp(rowData.Id)"> -->
                            <button pButton type="button" class="ui-button-raised ui-button-rounded" label="רישום למנין"
                                (click)="SignUp(rowData.Id)"></button>

                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- <p-table #dt2 [columns]="cols" [value]="cars2" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" dataKey="vin"
     [resizableColumns]="true" [reorderableColumns]="true"
    selectionMode="single" [(selection)]="selectedCar2" stateStorage="local" stateKey="statedemo-local">
    <ng-template pTemplate="header" let-columns> -->

<h3>Local Storage</h3>
<p-table #dt2 [columns]="ListMinyan" [value]="MinyanService.ListFoundPlace" [paginator]="true" [resizableColumns]="true"
    [reorderableColumns]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" dataKey="vin"
    [resizableColumns]="true" [reorderableColumns]="true" selectionMode="single" stateStorage="local"
    stateKey="statedemo-local">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                <input pInputText type="text" (input)="dt2.filter($event.target.value, col.field, col.filterMatchMode)"
                    [value]="dt2.filters[col.field]?.value">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>