<footer class="footer w3-center">
  

    <div class="container-fluid">
  
          <ul class="w3-center util-nav">
            <!-- <li><a [routerLink]="'\MinyanDetailes'">אודות המערכת</a></li>
  
            <li class=" " [routerLink]="'\CreateMinyan'" ><a >אודות הרשת</a></li>
  
            <li class=" "><a   href="">יצירת קשר עם מנהל המערכת</a></li>
   -->
            <!-- <li class=""><a   href="">תמיכה טכנית</a> -->
  
          </ul>
  
      <!-- <div style="width: min-content; height: 1px;color:darkgrey "></div> -->
          <ul class="w3-center copyrights">
           
            <li>©
              <span id="gcyear">2020</span> כל הזכויות שמורות ליוצרים
                0527680508, 0548574773  </li>
          </ul>
      </div>
  </footer>