.footer {
    /* position: fixed; */
  /* display:flex; */
   font-size: 16px;
   font-weight: lighter;
   background: #575252;
   color: rgba(255,255,255,0.75);
   /* padding: 20px 0; */
   margin-top: 50px;
   flex-grow: 0
}
.footer__container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 40px;
   margin-bottom: 40px;
}
.container {
   margin: 0 auto;
   max-width: 1260px;
   padding: 0 30px;
}
.copyrights{
   font-size: 12px
   }
.util-nav{
   padding-bottom: 50px;
   border-bottom: 1px solid rgb(207, 207, 207);
}
.footer ul {
   
   /* padding: 15px; */
   margin-bottom: 0;

}
.footer ul li {
   display: inline-block;

}
.footer ul li a{
   color: rgb(228, 228, 228)

}
.footer ul li a:hover{
   color: rgb(136, 255, 56);
   text-decoration: none;

}
.footer ul.util-nav {
   padding: 35px
}
.footer ul.copyrights {
   padding: 5px;
   margin: 0
}
.footer ul.util-nav li {
   padding:  2px 8px;
   border-left: 1.5px solid #f83eab;
}
.footer ul.util-nav  :last-child {
   border: none;
}