<div class="container-fluid">
  <div class="row">
    <div class="col-8" style="direction: rtl; ">
      <div class="d-none d-md-block">
        <p-megaMenu [model]="items" style="background-color: rgb(0, 51, 102); color: darkgoldenrod;"></p-megaMenu>
      </div>
      <div class="d-block d-md-none">
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <button type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
      </div>
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="home" class="pi pi-home">דף הבית </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active pi pi-home" aria-current="page" href="home">דף הבית</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pi pi-list" aria-current="page" href="MinyanDetailes">רשימת מינינים</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pi-users" aria-current="page" href="CreateMinyan">צור מנין</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  pi pi-list" aria-current="page" href="MinyaninZminim">רשימת מנינים זמינים</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  pi pi-user" aria-current="page" href="User/" + 1>כניסה</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  pi pi-user"aria-current="page" href="MyMinyan">המנינים שלי</a>
              </li>
            </ul>
            <span class="navbar-text">
              Navbar text with an inline element
            </span>
          </div>
        </div>
      </nav> -->
      <!-- this.items = [
      {
        label: 'דף הבית', icon: 'pi pi-home', routerLink: "home"
      },
      {
        label: 'רשימת מנינים', icon: 'pi pi-list', routerLink: "MinyanDetailes"
      },
      {
        label: 'צור מנין', icon: 'pi pi-fw pi-users', routerLink: "CreateMinyan"
      },
      {
        label: 'רשימת מנינים זמינים', icon: 'pi pi-list', routerLink: "MinyaninZminim",
      },
      {
        label: 'כניסה', icon: 'pi pi-user ', routerLink: "User/" + 1
      },
      {
        label: 'המנינים שלי', icon: 'pi pi-user ', routerLink: "MyMinyan"
      }
      ,

    ] -->
    </div>
    <div class="col-2"></div>
    <div class="col-2">
      <img [src]="image" style="width: 90%;height: 100%;" />
    </div>
  </div>

  <body style="direction: ltr;">
    <div style="min-height: 650px">

      <!-- <app-galleria></app-galleria> -->
      <router-outlet></router-outlet>
    </div>
    <div style="min-height: 350px">
      <app-footer></app-footer>
    </div>
  </body>
</div>

<!-- class=" col-lg-3 col-md-4 col-xs-5" style="position:absolute;left:0;top:12px;" -->