i{
  font-size: 215px;
  color:      #88ff38; 
 margin: 15px;
  /* text-shadow:2px 2px 4px #575252; */
  cursor: pointer;
  }
  a{
        text-decoration: none;
    }
  /* i .changeUser{
    cursor: auto;
}
a{
  text-decoration: none;
} */
i.fas.fa-address-card{
  margin-bottom: 5px;
}
/* .iconDiv{
  cursor: pointer;
  margin: 35px;
  min-width: max-content;
  min-height: max-content;
  
  transition: all .2s ease-in-out;
} */

label{
    font-size: 18px
}

.iconDiv:hover{

    cursor: pointer;
    animation:bounceOut .9s linear;
    /* transform: scale(1.1);  */

} 

@keyframes bounceOut {
  0%{ transform: scale(1.1);opacity:1;}
  10%{ transform: scale(1.15);opacity:1;}
  20%{transform: scale(1.2); opacity:1;}
  30%{transform: scale(1.25); opacity:1;}
  40%{transform: scale(1.2); opacity:1;}
  50%{ transform: scale(1.15); opacity:1; }
  60%{transform: scale(1.2); opacity:1;}
  70%{transform: scale(1.25); opacity:1;}
  80%{transform: scale(1.2); opacity:1;}
  90%{transform: scale(1.15); opacity:1;}
  100%{transform: scale(1.1); opacity:1;}
}