<body>
    <!-- <a href="#" class="exit" style="position:absolute;right:0;">
            <i class="fas fa-sign-out-alt exit"></i>יציאה
    </a> -->
    <section class="w3-container">
        <!-- <h2 class="userHeader w3-center"> שלום ל{{UserService.JobList[UserService.UserJob]}}
                    {{UserService.user.FirstName}}
                    {{UserService.user.LastName}}</h2> -->
        <div class="w3-row-padding w3-center" style="padding-top: 10%; padding-left: 5%;">



            <a class="col-lg-3 col-md-4 col-xs-11 " [routerLink]="'/MinyanDetailes'">
                <a class="  col-lg-8  col-md-1 col-sm-4  iconDiv">
                    <i class="pi pi-list  " style="font-size:12em ; color: goldenrod;"></i>
                    <label style="font-size: large;"> רשימת מנינים שעדין לא נסגרו</label>
                </a>
            </a>
            <a class="   col-lg-3 col-md-4 col-xs-11 " [routerLink]="'/CreateMinyan'">
                <a class=" col-lg-8 col-md-1 col-sm-4 iconDiv">

                    <i class="fas fa-users " style="font-size:12em;  color: goldenrod;"></i>
                    <label style="font-size: large;">טופס ליצירת מניין</label>
                </a>
            </a>
            <a class="col-lg-3 col-md-4 col-xs-11 " [routerLink]="'/MinyaninZminim'">
                <a class=" col-lg-8 col-md-2 col-sm-4  iconDiv">
                    <!-- <div style="font-size: 1000%"> -->

                    <i class="pi pi-list " style="font-size:12em;  color: goldenrod;"></i>
                    <!-- </div> -->
                    <label style="font-size: large;"> רשימת מניינים זמינים</label>
                </a>
            </a>
            <a class="   col-lg-3 col-md-4 col-xs-11 " [routerLink]="'/User/1'">
                <a class="  col-lg-6 col-md-2 col-sm-4 iconDiv">

                    <i class="fas fa-user" style="font-size:12em;  color: goldenrod;"></i>
                    <label style="font-size: large;"> כניסה</label>
                </a>
            </a>

            <!-- <a class="w3-right   col-lg-4 col-md-5 col-xs-11 "
                            [routerLink]="'/manager/systemReports'">
                            <a class="col-md-2 col-sm-4 w3-right iconDiv">
                                    <i class="fas fa-chart-line"></i><br>
                                    <label> סטטיסטיקות</label> </a>
                    </a> -->
            <!-- <a class="w3-right   col-lg-4 col-md-5 col-xs-11 iconCard"
                            [routerLink]="'/manager/updateSchedule'">
                            <a class="col-md-2 col-sm-4 w3-right iconDiv">
                                    <i class="fas fa-cog"></i><br>
                                    <label>עדכון מצבת עובדים</label> </a>
                    </a> -->

        </div>

    </section>
</body>