
<body class="w3-container">
    <section class="w3-display-middle w3-round w3-card-4" style="border-style:none;width: 500px;height: 400px; border-color:#414040;">
        <!-- <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px; background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"> -->
            <h2 style="text-align-last: center; color:#996600">כניסה למערכת</h2>
            <!-- <img src="../assets/p1.png" class='w3-margin' height="30px"> -->
        <!-- </div> -->
        <div class="w3-content" style="padding: 25px;">
            <br>

            <form (ngSubmit)="LogIn()" #LoginForm="ngForm">
                <div class="form-group">
                    <span class="ui-float-label">
                        <input id="float-input" class="w3-input  myInput  form-control " type="email" pattern='{{EMAIL_REGEX}}'
                            [(ngModel)]="user.id" required id="Mail" name="Mail" #Mail="ngModel" pInputText>
                        <label for="float-input" style="font-family: sans-serif; color:rgb(0, 51, 102)" class="w3-text-grey">כתובת
                            מייל</label>
                    </span>
                    <div style="height:40px; padding-top:8px">
                        <div *ngIf="Mail.invalid && (Mail.dirty || Mail.touched)">
                            <div *ngIf="Mail.errors.required" class="w3-text-red">
                                שדה חובה
                            </div>

                            <div *ngIf="Mail.errors.pattern" class="w3-text-red">
                                כתובת מייל לא תקינה
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="ui-float-label has-feedback">
                        <input id="float-input" class="w3-input myInput form-control" id="pass1" type="password" [(ngModel)]="user.password"
                            name="Password" id="Password" #Password="ngModel" required minlength="4" maxlength="15"
                            pInputText>

                        <span *ngIf="user.password&&IsShow" (click)="CoverPassword()" class="glyphicon glyphicon-eye-open form-control-feedback w3-left"
                            style="cursor: pointer; pointer-events: all;">
                        </span>
                        <span *ngIf="user.password&&!IsShow" (click)="ShowPassword()" class="glyphicon glyphicon-eye-close form-control-feedback w3-left"
                            style="cursor: pointer; pointer-events: all;">
                        </span>

                        <label for="float-input" class="w3-text-grey" style="color: rgb(156, 154, 154)">סיסמא</label>
                    </div>
                    <div style=" height:40px; padding-top:8px">
                        <div *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                            <div *ngIf="Password.errors.required" class="w3-text-red">
                                שדה חובה
                            </div>
                            <div *ngIf="Password.errors.minlength" class="w3-text-red">
                                אורך מינימום 4 תווים
                            </div>
                            <div *ngIf="Password.errors.maxlength" class="w3-text-red">
                                אורך מקסימום 15 תווים
                            </div>
                        </div>
                    </div>
                    <a [routerLink]="'/forgetPassword'" style="float: right; color: rgb(129, 103, 15);">שכחתי סיסמא</a>
                    <a [routerLink]="'/registerUser'" class="w3-center" style="margin-left: 115px; color: rgb(129, 103, 15);" >משתמש חדש</a>
                    <a [routerLink]="'/resetPassword'" style="float:left; color: rgb(129, 103, 15);">איפוס סיסמא</a>
                </div>
               <div *ngIf="IsFailed" class="w3-panel w3-pale-red w3-rightbar w3-border-red w3-text-red">
                    <p> כתובת מייל ו/או סיסמא שגויים</p>
                </div>
                <!-- <a [routerLink]="'/teacherMenu'">go</a> -->
                <br>
                <p class="w3-center ">
                           <button label="הכנס" type="submit" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"
                    [disabled]="!LoginForm.form.valid">
                        כניסה</button>
                </p>
            </form> 
        </div>
    </section>   
</body>