
.divv {
	/* width: 100px; */
	/* align-items: center; */
	/* position: absolute; */
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
	margin-top: 10%;
	text-align: center;
	/* direction: rtl; */

	/* display: inline-block; */
}
.span{

    text-align: center;
}
.message{
	width: 70%;
	height: 70%;
}