<body class="w3-container">
    <section *ngIf="checkUser" class="w3-display-middle w3-round w3-card-4" style="border-style:none;width: 500px;height: 300px; border-color:#414040; ">
        <!-- <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px; background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"> -->
           <h2 style ="text-align-last: center; color:rgb(153, 102, 0)">שחזור סיסמא</h2>
            <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
        <!-- </div> -->
        <div class="w3-content" style="padding: 25px;">
            <!-- <table> -->
            <form (ngSubmit)="sendNewPassword()" #UserDetailsForm="ngForm" class="container w3-center">
                <strong class="w3-center" style="display: table-cell; color:rgb(0, 51, 102);">הכנס מס פלאפון וכתובת מייל</strong><br>
                <tbody>
                <tr>
                    <td>
                        <div class="form-group" style="width: 200px;">
                            <span class="ui-float-label " style="margin-left: 10px" >
                                <input id="float-input" class="w3-input  myInput  w3-animate-input " type="text" [(ngModel)]="obj.phone"
                                     id="Phone" name="Phone" #Phone="ngModel" pattern="[0-9]*" required minlength="9"
                                    maxlength="10" pInputText>
                                <label for="float-input" style="color: rgb(156, 154, 154)">פלאפון</label>
                            </span>
                            <div style=" height:40px; padding-top:8px">
                                <div *ngIf="Phone.invalid && (Phone.dirty || Phone.touched)">
                                    <small *ngIf="Phone.errors.required" class="w3-text-red">
                                        שדה חובה
                                    </small>
                                    <small *ngIf="Phone.errors.pattern" class="w3-text-red">
                                        מספר לא תקין
                                    </small>
                                    <small *ngIf="!Phone.errors.pattern && Phone.errors.minlength" class="w3-text-red">
                                        מספר קצר מידי
                                    </small>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group " style="width: 200px">
                            <span class="ui-float-label" style="margin-right: 10px">
                                <input id="float-input" class="w3-input  myInput  w3-animate-input " type="email" pattern='{{EMAIL_REGEX}}'
                                    [(ngModel)]="obj.mail" required id="Mail" name="Mail" #Mail="ngModel" pInputText>
                                <label for="float-input" style="color: rgb(156, 154, 154)">כתובת
                                    מייל</label>
                            </span>
                            <div style="height:40px; padding-top:8px">
                                <div *ngIf="Mail.invalid && (Mail.dirty || Mail.touched)">
                                    <small *ngIf="Mail.errors.required" class="w3-text-red">
                                        שדה חובה
                                    </small>

                                    <small *ngIf="Mail.errors.pattern" class="w3-text-red">
                                        כתובת מייל לא תקינה
                                    </small>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- <div class="col-md-12 w3-center" >
                    <button label="הבא" type="submit" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"
                        [disabled]="!UserDetailsForm.form.valid">
                        המשך>></button>
                </div> -->
                <p class="w3-center ">
                    <button label="הבא" type="submit" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"
                    [disabled]="!UserDetailsForm.form.valid">
                        המשך>></button>
                </p>
            </tbody>
            </form>
            <!-- </table> -->
        </div>
    </section>


    <section *ngIf="failed" class="w3-display-middle w3-round w3-card-4 w3-center"
      style="border-style:double;width: 500px;height: 250px; border-color:#414040;">
      <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
        <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
      </div><br>
      <div class="w3-content" style="padding: 25px;">
        <h4 style="color:rgb(0, 51, 102)"> הפרטים שהזנת שגויים או שאינך רשום במערכת</h4>
        <button (click)="tryAgain()" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)">נסה שוב</button>
        <a href="#" class="ui-button-raised ui-button-secondary btn" style="margin-right: 25px; width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)">ביטול</a>
      </div>
    </section>


    <section *ngIf="newPassword" class="w3-display-middle w3-round w3-card-4 w3-center"
      style="border-style:double;width: 500px;height: 250px; border-color:#414040;">
      <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
        <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
      </div><br>
        <br>
        <h3 style="color:rgb(0, 51, 102)">הסיסמה נשלחה אליך במייל</h3>
        <br>
        <a href="#" label="סיום" class="ui-button-raised ui-button-secondary btn"
          style="width:120px; background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)">
          סיום</a>
    </section>

</body>