body{
    direction: rtl;
}
.myInput{
    background-color: transparent; 
    border-bottom-color: #747070;
    margin: 5px;
    size: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.myInput:focus{
 outline: none;
 background-color: ivory;
 min-width:fit-content;
 margin: 5px;

}