<ng-container>
    <div *ngIf="!RishumSuccessfully && !RishumNotSuccessfully">
        <!-- <button type="button" (click)="showModalDialog()" pButton icon="pi pi-external-link" label="Show"></button> -->
        <p-dialog [modal]="true" [(visible)]="!userLogin1" [style]="{width: '30vw'}" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
            <div style="text-align: center;" class="alert alert-warning" role="alert">
                !כדי להרשם למנין עליך להיכנס למערכת </div>
            <p-footer>
                <button (click)="User()" dir="ltr" pButton type="button" label="לכניסה"
                    class="ui-button-rounded"></button>
            </p-footer>
        </p-dialog>
        <div class="container-fluid" *ngIf="userLogin1">
            <div class="row ">
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-2"></div>
                <h1 class="col-8">טופס הצטרפות למנין</h1>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <h3 class="col-4"><b>מקום:</b>{{minyan.PlaceName}}</h3>
                <div class="col-4"></div>

            </div>
            <div *ngIf="minyan.Tadirut == 'חד פעמי'" class="row">
                <div class="col-4"></div>
                <h3 class="col-4"><b>תאריך:</b>{{minyan.heDate}}</h3>
                <div class="col-4"></div>
            </div>

            <div class="row">
                <div class="col-4"></div>
                <h3 class="col-4"><b>שעה:</b>{{minyan.Hour|date:"HH:mm"}}</h3>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 f">
                    <form (ngSubmit)="Rishum()" #myForm="ngForm" class="form">
                        <!-- *ngIf="rishumMinyanForm!=undefined"> -->
                        <!-- style="text-align: center;align-items: center;align-content: center;" -->


                        <div class="form-group ">
                            <span class="ui-float-label ">
                                <input class="w3-input  myInput  form-control " type="text" pattern="[א-תa-zA-Z' ' ]*"
                                    [(ngModel)]="rishum.Name" required id="name" name="name" #name="ngModel" pInputText>
                                <label for="float-input" class="w3-text-grey"
                                    style="color: rgb(156, 154, 154);font-size: smaller">הכנס שם</label>
                            </span>
                            <!-- <input id="float-input2" type="text" size="30" class="w3-input" name="name"
                        [(ngModel)]="rishum.Name" #name="ngModel" required pattern="[א-תa-zA-Z' ' ]*"
                        pTooltip="הכנס את שמך הפרטי" tooltipPosition="top">
                    <label>הכנס שם <span style="color: red">*</span></label> -->
                            <div style=" height:40px; padding-top:8px">
                                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                                    <div *ngIf="name.errors.required" class="w3-text-red"> שדה חובה</div>
                                    <div *ngIf="name.errors.pattern" class="w3-text-red">
                                        שם לא תקין
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group">

                        <span for="float-input" class="span" class="ui-float-label">
                            <input id="float-input" type="email" size="30" class="w3-input" [(ngModel)]="rishum.Mail"
                                name="Mail" #mail="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                pTooltip="הכנס כתובת מייל" tooltipPosition="top">
                            <label>הכנס מייל<span style="color: red">*</span></label>
                        </span>
                    </div>
                    <div class="form-group">

                        <div style="height:10px;text-align: right;font-size: large;">
                            <div *ngIf="mail.invalid && (mail.dirty || mail.touched)">
                                <small *ngIf="mail.errors.required" class="w3-text-red">
                                    שדה חובה
                                </small>

                                <small *ngIf="mail.errors.pattern" class="w3-text-red">
                                    כתובת מייל לא תקינה
                                </small>
                            </div>
                        </div>
                    </div> -->
                        <div class="form-group ">
                            <span class="ui-float-label ">
                                <input class="w3-input  myInput  form-control " type="email" pattern='{{EMAIL_REGEX}}'
                                    [(ngModel)]="rishum.Mail" required id="Mail" name="Mail" #Mail="ngModel" pInputText>
                                <label for="float-input" class="w3-text-grey"
                                    style="color: rgb(156, 154, 154);font-size: smaller">כתובת
                                    מייל</label>
                            </span>
                            <div style=" height:40px; padding-top:8px">
                                <div *ngIf="Mail.invalid && (Mail.dirty || Mail.touched)">
                                    <div *ngIf="Mail.errors.required" class="w3-text-red">
                                        שדה חובה
                                    </div>

                                    <div *ngIf="Mail.errors.pattern" class="w3-text-red">
                                        כתובת מייל לא תקינה
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 56n.  <p-message severity="error" text="!!שדה חובה" [text]="rishumMinyanForm.controls['mail'].errors['required'] ? 'שדה חובה' :
            rishumMinyanForm.controls['mail'].errors['pattern'] ? 'המייל שגוי' : ''"
                *ngIf="!rishumMinyanForm.controls['mail'].valid&&rishumMinyanForm.controls['mail'].dirty"></p-message> -->

                        <!-- <select [(ngModel)]="rishum.Nusach" name="nusach"> -->
                        <!-- <option *ngFor="let item of rishum.Nusach " [value]="item.Id">{{item.Description}}</option>
                </select> -->
                        <div class="form-group">
                            <label class="drop" for="pwd">:בחר נוסח תפילה</label>
                            <p-dropdown (onClick)="selectedNusach()" [options]="NusachService.ListN" id="pwd"
                                name="nusach" optionLabel="Nusach1" [(ngModel)]="idNusach">
                            </p-dropdown>
                            <!-- <p-radioButton name="groupname" value="val1" [(ngModel)]="rishum.StatusNusach"></p-radioButton> -->
                        </div>

                        <div *ngIf="flag1==true" class="p-grid">
                            <section class=" w3-round w3-card-4" pTooltip="בחר עדיפות"
                                style="border-style:double;width: 20%;align-items: center; height:15%; border-color:darkgoldenrod;text-align: right;align-content: center; ">
                                <div class="w3-round w3-header w3-center"
                                    style="height: 30%;background-color:goldenrod ;">
                                    <label>בחר עדיפות</label>
                                </div>

                                <div dir="rtl" class="p-col-12" *ngFor="let item of StatusNusachOrAmudService.listS">
                                    <p-radioButton name="group1" value={{item.Id}} label={{item.Status}} inputId="opt1"
                                        [(ngModel)]="rishum.StatusNusach" #nusach="ngModel" required>
                                    </p-radioButton>
                                </div>

                            </section>
                        </div>

                        <!-- <div *ngFor="let item of StatusNusachOrAmudService.listS">
                    <input type="radio" name="aa">
                     value={{item.Id}} -->
                        <!-- </div> -->
                        <!-- <div class="p-col-12" >
                                        <p-radioButton name="" value={{item.Id}} label={{item.Status}}
                                            inputId="opt1" [(ngModel)]="rishum.StatusNusach" #nusach="ngModel" required>
                                        </p-radioButton> -->
                        <!-- <div style=" height:10px; text-align: right;">
                <div *ngIf="nusach.invalid && (nusach.dirty || nusach.touched)">
                    <small *ngIf="nusach.errors.required" class="w3-text-red">
                        שדה חובה
                    </small>
                </div>
            </div> -->
                        <!--  -->
                        <!-- <p-message severity="error" text="Firstname is required"
                        *ngIf="!rishumMinyanForm.controls['statusN'].valid&&rishumMinyanForm.controls['statusN'].dirty">
                    </p-message> -->


                        <!-- <div class="p-col-12"><p-radioButton name="group1" value="Option 2" label="Option 2" [(ngModel)]="rishum.StatusNusach" inputId="opt2"></p-radioButton></div> -->
                        <!-- <div class="p-col-12"><p-radioButton name="group1" value="Option 3" label="Option 3" [(ngModel)]="rishum.StatusNusach" inputId="opt3"></p-radioButton></div> -->
                        <br>

                        <div class="form-group">
                            <label class="drop" for="pwd">בחר סיבה לקבלת עמוד</label>
                            <p-dropdown (onClick)="selectedAmud()" [options]="EventService.ListRE" name="event"
                                optionLabel="Reson" [(ngModel)]="idAmud">
                            </p-dropdown>
                        </div>

                        <div *ngIf="flag2==true">
                            <section class=" w3-round w3-card-4" pTooltip="בחר עדיפות" tooltipPosition="top"
                                style="border-style:double;width: 20%;align-items: center; height:15%; border-color:darkgoldenrod;text-align: right;align-content: center; ">
                                <div class="w3-round w3-header w3-center"
                                    style="height: 30%;background-color:navajowhite ;">
                                    <label>בחר עדיפות</label>
                                </div>

                                <div class="p-col-12" *ngFor="let item of StatusNusachOrAmudService.listS">
                                    <p-radioButton name="group2" value={{item.Id}} label={{item.Status}} inputId="opt1"
                                        [(ngModel)]="rishum.StatusAmud" #amud="ngModel" required>
                                    </p-radioButton>
                                </div>
                            </section>
                        </div>


                        <br>
                        <div class="form-group">

                            <label class="drop" for="pwd">בחר נוסח ס"ת</label>
                            <!-- לחפש איזה משתנה שומר את הבחירה הנוכחית -->
                            <p-dropdown (onClick)="selectedTora()" [options]="ToraService.ListT" name="torah"
                                optionLabel="Nusach" [(ngModel)]="idTora">
                            </p-dropdown>
                            <br>
                        </div>
                        <div *ngIf="flag3==true">

                            <section class=" w3-round w3-card-4" pTooltip="בחר עדיפות"
                                style="border-style:double;width: 20%;align-items: center; height: 15%; border-color:darkgoldenrod;text-align: right;align-content: center; ">
                                <div class="w3-round w3-header w3-center"
                                    style="height: 30%;background-color:navajowhite ;">
                                    <label>:בחר עדיפות</label>
                                </div>

                                <div class="p-col-12" *ngFor="let item of StatusNusachOrAmudService.listS">
                                    <p-radioButton name="group3" value={{item.Id}} label={{item.Status}} inputId="opt1"
                                        [(ngModel)]="rishum.statusTora" #tora="ngModel" required>
                                    </p-radioButton>


                                    <!-- <p-message severity="error" text="Firstname is required"
                                *ngIf="!rishumMinyanForm.controls['statusT'].valid&&rishumMinyanForm.controls['statusT'].dirty">
                            </p-message> -->
                                    <div style="height:10px;text-align: right;font-size: large;">
                                        <div *ngIf="tora.invalid && (tora.dirty || tora.touched)">
                                            <small *ngIf="tora.errors.required" class="w3-text-red">
                                                שדה חובה
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <br>
                        <div class="form-group">

                            <label class="drop"><span style="color: red">*</span> הכנס שעה בין{{minDate|date:"HH:mm"}}
                                לבין
                                {{maxDate|date:"HH:mm"}} </label>
                            <p-calendar [timeOnly]="true" inputId="timeonly" id="hour" name="hour"
                                [(ngModel)]="rishum.Hour" #hour="ngModel" required min="minDate" max="maxDate"
                                pTooltip="הכנס שעה" tooltipPosition="top">
                            </p-calendar>

                            <div style=" height:40px; padding-top:8px">

                                <div *ngIf="hour.invalid &&(hour.dirty || hour.touched)">

                                    <div *ngIf="hour.errors.required" class="w3-text-red">
                                        שדה חובה
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- </div> -->
                        <div class="form-group">
                            <button pButton type="submit" label="שלח" [disabled]="!myForm.valid" class="btn btn-primery"
                                style="background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"></button>
                        </div>
                    </form>
                </div>
                <div class="col-2"></div>

            </div>


        </div>

    </div>
</ng-container>
<section *ngIf="RishumSuccessfully" class="w3-display-middle w3-round w3-card-4 w3-center"
    style="border-style:double;width: 500px;height: 250px; border-color:#414040;">
    <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
        <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
    </div><br>
    <br>
    <h3>הרשמתך נקלטה במערכת</h3>
    <br>
    <a href="#" label="אישור" class="ui-button-raised ui-button-secondary btn"
        style="width:120px;background-color:gold">
        אישור</a>
</section>
<section *ngIf="RishumNotSuccessfully" class="w3-display-middle w3-round w3-card-4 w3-center"
    style="border-style:double;width: 500px;height: 250px; border-color:#414040;">
    <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
        <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
    </div><br>
    <br>
    <h3>!!!הרשמתך לא נקלטה במערכת, אנא נסה שוב</h3>
    <br>
    <a href="#" label="אישור" class="ui-button-raised ui-button-secondary btn"
        style="width:120px;background-color:gold ">
        אישור</a>
</section>
<!-- <span class="ui-float-label" style="width: 40%">
                <input id="float-input2" type="number" size="30" class="w3-input"
                    [(ngModel)]="rishum.GmishutInHourBefore" name="time">
                <label for="float-input2">הכנס גמישות בדקות</label>
            </span>
            <span class="ui-float-label" style="width: 40%">
                <input id="float-input2" type="number" size="30" class="w3-input"
                    [(ngModel)]="rishum.GmishutInHourAfter" name="time">
                <label for="float-input2">הכנס גמישות בדקות</label>
            </span> -->
<!-- <div *ngIf="flag==true" class="form-group "> -->
<!-- <span class="span" class="ui-float-label" style="width: 40%">
                <input id="float-input" type="email" size="30" class="w3-input" name="Mail" formControlName="mail"
                    [(ngModel)]="user.Id" class="ng-invalid">
                <label for="float-input">*הכנס מייל</label>
            </span>
            <p-message  severity="error" text="!!שדה חובה" [text]="userform.controls['mail'].errors['required'] ? 'שדה חובה' :
            userform.controls['mail'].errors['pattern'] ? 'המייל שגוי' : ''"
                *ngIf="!userform.controls['mail'].valid&&userform.controls['mail'].dirty"></p-message> -->


<!-- <span class="ui-float-label" style="width: 80%">

                    <input id="float-input" size="30" class="w3-input  myInput  w3-animate-input " type="text"
                        [(ngModel)]="rishum.Phone" required id="Phone" name="Phone" #Phone="ngModel" pattern="[0-9]*"
                        minlength="9" maxlength="10" pattern="[0-9]*" pTooltip="הכנס  מספר פלאפון"
                        tooltipPosition="top">

                    <label for="float-input2">הכנס מס פלאפון <span style="color: red">*</span></label>
                </span>

                <div style=" height:10px; text-align: right;">
                    <div *ngIf="Phone.invalid && (Phone.dirty || Phone.touched)">
                        <small *ngIf="Phone.errors.required" class="w3-text-red">
                            שדה חובה
                        </small>
                        <small *ngIf="!Phone.valid" class="w3-text-red">
                            מספר לא תקין
                        </small>
                    </div>
                </div> -->
<br>
<!-- <span class="ui-float-label" style="width: 80%">
    <input id="float-input" type="text" class="w3-input myInput  w3-animate-input" name="phone" id="phone"
        [(ngModel)]="rishum.Phone" #phone="ngModel" required maxlength="10" minlength="9" pattern="[0-9]*">
    <label for="float-input2">הכנס מס פלאפון <span style="color: red">*</span></label>
     <p-message severity="error" text="!!שדה חובה" [text]="rishumMinyanForm.controls['phone'].errors['required'] ? 'שדה חובה' :
            rishumMinyanForm.controls['phone'].errors['minLength'] ? ' צריך להכיל לפחות 9 ספרות ' :
            rishumMinyanForm.controls['phone'].errors['pattern'] ?'לא יכול להכיל תווים':
            rishumMinyanForm.controls['phone'].errors['maxLength'] ?'לא יכול להכיל יותר מ 10 ספרות':

             ''" *ngIf="!rishumMinyanForm.controls['phone'].valid&&rishumMinyanForm.controls['phone'].dirty">
            </p-message> -->
<!-- </span>
<div style=" height:10px;text-align: right; ">
    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <small *ngIf="phone.errors.required" class="w3-text-red">
            שדה חובה
        </small>

        <small *ngIf="name.errors.min" class="w3-text-red">
            לא יכול להיות יותר מ10 ספרות </small>
        <small *ngIf="name.errors.min" class="w3-text-red">
            לא יכול להיות פחות מ9 ספרות
        </small>

        <small *ngIf="name.errors.pattern" class="w3-text-red">
            מספר לא תקין
        </small>
    </div> -->

<!-- </div> -->



<!-- <form>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationServer01">First name</label>
            <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name"
                value="Mark" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer02">Last name</label>
            <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name"
                value="Otto" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServerUsername">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3">@</span>
                </div>
                <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username"
                    aria-describedby="inputGroupPrepend3" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationServer03">City</label>
            <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer04">State</label>
            <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
            <div class="invalid-feedback">
                Please provide a valid state.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer05">Zip</label>
            <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
            <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form> -->