/* 
.divv {
	/* width: 100px; */
	/* align-items: center; */
	/* position: absolute; */
	/* top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
	margin-top: 10%;
	text-align: center; */
	/* direction: rtl; */

	/* display: inline-block; */
/* } 
.span{
    width: 40%;
    direction: rtl;
} */
/* 
.webform-client-form .panel .panel-body .webform-component label {
    font-weight: 100;
    position: relative;
} */
/* label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
} */
/* style
* {
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */
/* user agent stylesheet */
/* label {
    cursor: default;
} */
.drop{
    float: right;
    text-align: right;
    align-items: center;
    color: rgb(0, 51, 102);
   
}
/* .drop1{
  margin: 70px;
    border: 1px solid #4CAF50;
    float: left;
    text-align: right;
} */
::ng-deep .ui-timepicker.ui-widget-header{
    padding:initial;
    direction: ltr;
  }
  .myInput{
    background-color: transparent; 
    border-bottom-color: #747070;
    margin: 5px;
    size: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.myInput:focus{
 outline: none;
 min-width:fit-content;
 margin: 5px;

}
.f{
    border-width: thin;
    border-width: medium;
    border-width: thick;
    border-width: 14px;
    /* border-style:double; */
}
h3{
        text-align: center;
        color: darkgoldenrod
}
h1{
        text-align: center;
        color: darkgoldenrod
}
