/* .form{
    align-items: center;
    /* text-align: center; */
/* } */
/* ::ng-deep .ui-timepicker.ui-widget-header{
    padding:initial;
    direction: ltr;
  } */

  /* ::ng-deep body .ui-datepicker .ui-timepicker a:hover{
      color:#fe1cc6
  }
  //////////////////////////////

  .myInput{
    background-color: transparent; 
    border-bottom-color: #747070;
    margin: 5px;
    size: 40px
}
.myInput:focus{
 outline: none;
 background-color: ivory;
 min-width:fit-content;
 margin: 5px;

} */
.drop{
  float: right;
  text-align: left;
 
}
.f{
border-width: thin;
border-width: medium;
border-width: thick;
border-width: 14px;
/* border-style:double; */
}

/* /////////// */

  .hebrew-day {
    text-align: right;
    padding: 1rem 2rem 0.25rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    height:4rem;
    width: 4rem;
  }
  .hebrew-day:hover, .hebrew-day.focused {
    background-color: #e6e6e6;
  }
  .hebrew-day.selected {
    background-color: #007bff;
    color: white;
  }
  .outside {
    color: lightgray;
  }
  .gregorian-num {
    font-size: 0.5rem;
    direction: ltr;
  }
  .cal{
    height:5rem;
    width: 5rem;
  }
  .days{
    width: 50%;
    height: 50%;
  }