<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
<!-- style=" text-align: center;align-items: center;align-content: center;" -->
<p-dialog [modal]="true" [(visible)]="!userLogin1" [style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <div style="text-align: center;" class="alert alert-warning" role="alert">
        !כדי להרשם למנין עליך להיכנס למערכת </div>
    <p-footer>
        <button (click)="User()">לכניסה</button>
    </p-footer>
</p-dialog>

<body *ngIf="!MinyanNotSuccessfully">
    <br>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <h1 style="text-align: center;color: goldenrod;">טופס ליצירת מנין</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>

        <div class="col-4 f">
            <form (ngSubmit)="addMinyan()" #myForm="ngForm" class="form">
                <!-- style="float: center; margin: 2% 30% 0% 30% " -->
                <!-- <input class="form-control" type="text" placeholder="הכנס מקום" [(ngModel)]="minyan.PlaceName"
                    name="PlaceNamesss" #minyan1="ngModel" required> -->

                <div class="form-group">

                    <span class="ui-float-label ">
                        <!-- [(ngModel)]="minyan.PlaceName" -->
                        <!-- [value]="this.serviceI.newItem.nameAddress"  -->
                        <input id="float-input2" size="30" class="w3-input  myInput  form-control" type="text"
                            ngx-google-places-autocomplete #placesRef="ngx-places"
                            (onAddressChange)="handleAddressChange($event) " [(ngModel)]="minyan.PlaceName" pInputText
                            [value]="minyan.PlaceName" id="name" name="name" #place required />
                        <label for="float-input2" class="w3-text-grey"
                            style="color: rgb(156, 154, 154);font-size: smaller"> הזן מקום <span
                                style="color: red">*</span></label>

                    </span>

                    <div>
                        <div *ngIf="place.invalid && (place.dirty || place.touched)">
                            <div *ngIf="place.errors.required" class="w3-text-red">
                                שדה חובה
                            </div>

                        </div>

                    </div>
                </div>
                <br>
                <!-- <span class="ui-float-label" style="width:50%">
        <input id="float-input2" type="text" size="30" class="w3-input"
             name="Name" min="10" max="10" [(ngModel)]="minyan.PlaceName"   name="Name" #name="ngModel"  required>
             <label for="float-input2">הכנס שם<span style="color: red">*</span></label> -->


                <div class="form-group">
                    <label style="text-align: right; float: right;" for="pwd">בחר תפילה</label>
                    <p-dropdown placeholder="בחר תפילה" [options]="PrayService.ListP" [(ngModel)]="idPray" name="pray1"
                        id="pray1" optionLabel="Pray_name" #pray1="ngModel" required pTooltip="בחר תפילה"
                        tooltipPosition="top">
                    </p-dropdown>
                    <div>
                        <div *ngIf="pray1.invalid &&(pray1.dirty || pray1.touched)">
                            <div *ngIf="pray1.errors.required" class="w3-text-red">
                                שדה חובה
                            </div>
                        </div>
                    </div>
                </div>


                <br>
                <div class="form-group">
                    <label style="text-align: right; float: right;" for="pwd"> נוסח תפילה</label>
                    <p-dropdown placeholder="בחר נוסח תפילה" (onClick)="selectedNusach()"
                        [options]="NusachService.ListN" [(ngModel)]="idNusach" name="nusach" id="nusach"
                        optionLabel="Nusach1" pTooltip="בחר נוסח תפילה" tooltipPosition="top">
                    </p-dropdown>
                </div>
                <div class="form-group">


                    <div *ngIf="flag1==true">
                        <section class=" w3-round w3-card-4" pTooltip="בחר עדיפות"
                            style="border-style:double;width: 20%;align-items: center; height:15%; border-color:darkgoldenrod;text-align: right;align-content: center; ">
                            <div class="w3-round w3-header w3-center"
                                style="height: 30%;background-color:navajowhite ;">
                                <label>בחר עדיפות</label>
                            </div>
                            <div class="p-col-12 p-md-6" *ngFor="let item of StatusNusachOrAmudService.listS">

                                <p-radioButton dir="rtl" name="group" label={{item.Status}} value={{item.Id}}
                                    [(ngModel)]="rishumMinyan.StatusNusach" inputId="opt1" required>
                                    <!-- <p-message severity="error" text="Firstname is required" *ngIf="!rishumMinyanForm.controls['statusA'].valid&&rishumMinyanForm.controls['statusA'].dirty"></p-message> -->
                                </p-radioButton>

                            </div>
                        </section>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label dir="ltr" class="drop"><span style="color: red">*</span>
                        שעה</label>
                    <!-- <p-calendar placeholder="בחר שעה" [(ngModel)]="minyan.Hour" name="Hour" [timeOnly]="true"
                    inputId="timeonly" #hour="ngModel" id="hour" required  pTooltip="הכנס שעה" tooltipPosition="top"></p-calendar> -->
                    <p-calendar [timeOnly]="true" inputId="timeonly" id="hour" name="hour" [(ngModel)]="minyan.Hour"
                        #hour="ngModel" required pTooltip="הכנס שעה" tooltipPosition="top">
                    </p-calendar>
                    <div>
                        <div *ngIf="hour.invalid &&(hour.dirty || hour.touched)">
                            <div *ngIf="hour.errors.required" class="w3-text-red w3-header-red">
                                שדה חובה
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label style="text-align: right; float: right;" for="timeonly"> הכנס גמישות לפני השעה
                        המבוקשת</label>
                    <p-spinner [(ngModel)]="minyan.Before" #Before="ngModel" name="before" id="before" [min]="0"
                        [max]="60" pTooltip=" הכנס גמישות לפני " tooltipPosition="top">
                    </p-spinner>
                    <!-- <div style=" height:40px">
                        <div *ngIf="Before.invalid && (Before.dirty || Before.touched)">
                            <div *ngIf="Before.errors.min" class="w3-text-red">
                                גמישות שגויה
                            </div>
                            <div *ngIf="Before.errors.max" class="w3-text-red">
                                לא ניתן להתגמש יותר משעה </div>
                        </div>

                    </div> -->
                </div>
                <br>
                <!-- <input class="form-control" type="time" placeholder="הכנס שעה" [(ngModel)]="minyan.Hour" name="hour" required> -->
                <!-- <input class="form-control" type="number" placeholder="הכנס גמישות בדקות לפני" [(ngModel)]="minyan.Before"
        name="Before" #minyan1="ngModel" min=0 max=60> -->
                <!-- <div class="alert-danger" *ngIf="minyan1.invalid &&(minyan1.dirty || minyan1.touched)">
        <p *ngIf="minyan1.errors.min">לא ניתן להכניס פחות מ0</p>
    </div> -->
                <!-- <input class="form-control" type="number" placeholder="הכנס גמישות בדקות אחרי" [(ngModel)]="minyan.After"
        name="After" min=0 max=60> -->
                <div class="form-group">
                    <label style="text-align: right; float: right;" for="timeonly"> הכנס גמישות אחרי השעה
                        המבוקשת</label>

                    <p-spinner style="width: 100%;" [(ngModel)]="minyan.After" #After="ngModel" name="after" id="after"
                        [min]="0" [max]="60" pTooltip="הכנס גמישות אחרי  " tooltipPosition="top">
                    </p-spinner>
                    <!-- <div style="height:10px;text-align: right;font-size: large;">
                        <div *ngIf="After.invalid && (After.dirty || After.touched)">
                            <small *ngIf="After.errors.min" class="w3-text-blue w3-red">
                                גמישות שגויה
                            </small>
                            <small *ngIf="After.errors.max" class="w3-text-red">
                                לא ניתן להתגמש יותר משעה </small>
                        </div>
                        <br>
                        <br>
                    </div> -->
                </div>
                <!-- 
    <label class="control-label">בחר תדירות</label>
    <select [(ngModel)]="minyan.TadirutId" name="TadirutId">
        <option *ngFor="let item of TadirutServices.ListT" [value]="item.Id">{{item.Description}}</option>
    </select> -->
                <br>
                <div class="form-group">

                    <div pTooltip="שדה חובה" tooltipPosition="top">
                        <label style="text-align: right; float: right; " dir="ltr"><span
                                style="color: red">*</span>תדירות
                        </label>
                    </div>

                    <p-dropdown placeholder="בחר תדירות" [options]="TadirutServices.ListT" [(ngModel)]="idTadirut"
                        name="tadirut" id="tadirut" optionLabel="Description" #tadirut="ngModel" required
                        tooltipPosition="top">
                    </p-dropdown>
                    <!-- <p-dropdown placeholder="בחר תדירות" [options]="TadirutServices.ListT" [(ngModel)]="idTadirut"
                name="tadirut" id="tadirut" #tadirut="ngModel" optionLabel="Description" required
                pTooltip="בחר תדירות " tooltipPosition="top">
            </p-dropdown> -->

                    <div>

                        <div *ngIf="tadirut.invalid &&(tadirut.dirty || tadirut.touched)">
                            <div *ngIf="tadirut.errors.required" class="w3-text-red">
                                שדה חובה
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <!-- <div *ngIf="Tadirutflag==true">
    <p-listbox [options]="ListDays" [(ngModel)]="arr" optionLabel="day"></p-listbox>
</div> -->
                <!-- class=" w3-round w3-card-4" -->

                <div *ngIf="chekeTadirut()">
            
                        <section pTooltip="בחר ימים"
                            style="border-style:double;width:20%;align-items: center; border-color:darkgoldenrod;text-align: right;align-content: center; ">
                            <div class="w3-round w3-header w3-center"
                                style="background-color:navajowhite ;">
                                <label>:בחר ימים<span style="color: red">*</span> </label>
                            </div>
                            <div dir="rtl" *ngFor="let item of ListDays">
                                <!-- <input type="checkbox"   name="days" [value]="item.Id" (change)="addORDelDay($event,item)">{{item.day}} -->
                                <p-checkbox name="days" [value]="item.id" (onChange)="addORDelDay($event,item)"
                                    [label]="item.day" required></p-checkbox>
                                <!-- <div style="height:10px;text-align: right;font-size: large;"> -->

                                <!-- <div *ngIf="tadirut.invalid &&(tadirut.dirty || tadirut.touched)">
                        <small *ngIf="tadirut.errors.required" class="w3-text-red">
                            שדה חובה
                        </small>
                    </div> -->
                                <!-- </div> -->

                                <!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button> -->
                                <!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button> -->

                                <!-- <hr /> -->
                            </div>
                        </section>
                
                </div>
                <!-- <br> -->
                <div class="form-group">

                    <div *ngIf="disabled()">
                        <label style="text-align: right; float: right;" dir="ltr">בחר תאריך<span
                                style="color: red">*</span></label>
                        <!-- <input [disabled]="disabled()" style="width:50%; float: left;" class="form-control" type="date" placeholder="תאריך"
        [(ngModel)]="minyan.Datetime" name="Datetime"> -->
                        <!-- <div class="cal"> -->
                        <ngb-datepicker class="hebrew " #dp [(ngModel)]="EvriDatetime" name="datetime"
                            [displayMonths]="1" [firstDayOfWeek]="7" [dayTemplate]="dt"
                            [dayTemplateData]="dayTemplateData">
                        </ngb-datepicker>

                        <ng-template #dt let-date let-data="data" let-selected="selected"
                            let-currentMonth="currentMonth">
                            <div class="hebrew-day" [class.outside]="date.month !== currentMonth"
                                [class.selected]="selected">
                                <div class="gregorian-num">
                                    {{ data.gregorian.day + '/' + (data.gregorian.month) }}
                                </div>
                                <div class="hebrew-num">{{ i18n.getDayNumerals(date) }}</div>
                            </div>
                        </ng-template>

                        <hr />
                    </div>
                    <!-- </div> -->
                </div>
                <!-- <p-listbox [options]="TadirutServices.ListT" [(ngModel)]="minyan.TadirutId" name="Tadirut"
                    [filter]="true" optionLabel="name">
                    <p-header>
                        תדירות
                    </p-header>
                </p-listbox> -->
                <!-- <p>בחר תדירות: <span *ngFor="let item of TadirutServices.ListT"
                        style="margin-right: 10px">{{item.Description}}</span></p> -->
                <!-- <label class="control-label">בחר נוסח</label>
    <select [(ngModel)]="minyan.NusachId" name="NusachId">
        <option *ngFor="let item of NusachService.ListN" [value]="item.Id">{{item.Nusach1}}</option>
    </select> -->
                <!-- <label class="control-label"> ספר תורה בחר נוסח</label>
    <select [(ngModel)]="minyan.ToraId" name="ToraId">
        <option *ngFor="let item of ToraService.ListT" [value]="item.Id">{{item.Nusach}}</option>
    </select> -->


                <!-- <br> -->
                <div class="form-group">

                    <label style=" float: right;" for="pwd"> נוסח ספר תורה </label>
                    <p-dropdown placeholder="בחר נוסח ספר תורה" (onClick)="selectedTora()" [options]="ToraService.ListT"
                        [(ngModel)]="idTora" name="tora" id="tora" optionLabel="Nusach" pTooltip="בחר נוסח ספר תורה "
                        tooltipPosition="top">
                    </p-dropdown>
                </div>
                <div class="form-group">

                    <div *ngIf="flag3==true">
                        <section class=" w3-round w3-card-4" pTooltip="בחר עדיפות"
                            style="border-style:double;width: 20%;align-items: center; height:15%; border-color:darkgoldenrod;text-align: right;align-content: center; ">
                            <div class="w3-round w3-header w3-center"
                                style="height: 30%;background-color:navajowhite ;">
                                <label>בחר עדיפות</label>
                            </div>
                            <div class="p-col-12" *ngFor="let item of StatusNusachOrAmudService.listS">
                                <p-radioButton dir="rtl" name="group1" value={{item.Id}} label={{item.Status}}
                                    [(ngModel)]="rishumMinyan.statusTora" inputId="opt1" required>
                                    <!-- -->
                                    <!-- <p-message severity="error" text="Firstname is required" *ngIf="!rishumMinyanForm.controls['statusA'].valid&&rishumMinyanForm.controls['statusA'].dirty"></p-message> -->
                                </p-radioButton>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- <label class="control-label">בחר ארוע</label>
    <select [(ngModel)]="minyan.reasonAmudId" name="EventId">
        <option *ngFor="let item of EventService.ListRE" [value]="item.Id">{{item.Reson}}</option>
    </select> -->

                <br>
                <div class="form-group">

                    <label style=" float: right;" for="pwd"> סיבה לעליה</label>
                    <p-dropdown placeholder="בחר סיבה לעליה" (onClick)="selectedAmud()" [options]="EventService.ListRE"
                        [(ngModel)]="idAmud" name="amud" id="amud" optionLabel="Reson" pTooltip="בחר סיבה "
                        tooltipPosition="top">
                    </p-dropdown>
                </div>
                <div class="form-group">
                    <div *ngIf="flag2==true">
                        <section class=" w3-round w3-card-4" pTooltip="בחר עדיפות"
                            style="border-style:double;width: 20%;align-items: center; height:15%; border-color:darkgoldenrod;text-align: right;align-content: center; ">
                            <div class="w3-round w3-header w3-center"
                                style="height: 30%;background-color:navajowhite ;">
                                <label>בחר עדיפות</label>
                            </div>
                            <div class="p-col-12" *ngFor="let item of StatusNusachOrAmudService.listS">
                                <p-radioButton dir="rtl" name="group2" value={{item.Id}} label={{item.Status}}
                                    [(ngModel)]="rishumMinyan.StatusAmud" inputId="opt1" required>
                                    <!-- -->
                                    <!-- <p-message severity="error" text="Firstname is required" *ngIf="!rishumMinyanForm.controls['statusA'].valid&&rishumMinyanForm.controls['statusA'].dirty"></p-message> -->
                                </p-radioButton>
                            </div>
                        </section>
                    </div>
                </div>




                <!-- 
    <div>
        <div>First Name *</div>
        <input pInputText type="text" formControlName="firstname" placeholder="Required"/>
        <p-message severity="error" text="Firstname is required" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty"></p-message>
    </div> -->
                <!-- <input type="submit" value="שלח" [disabled]="!myForm.form.valid"> -->
                <div class="form-group">
                    <button pButton type="submit" label="שלח" [disabled]="!myForm.form.valid"
                        style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"></button>
                </div>



                <!-- </p-panel> -->



            </form>
        </div>
        <div class="col-4"></div>
    </div>
</body>
<!-- <section *ngIf="MinyanSuccessfully" class="w3-display-middle w3-round w3-card-4 w3-center"
    style="border-style:double;width: 500px;height: 250px; border-color:#414040;">
    <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
    </div><br>
    <br>
    <h3>הרשמתך נקלטה במערכת</h3>
    <br>
    <a href="#" label="אישור" class="ui-button-raised ui-button-secondary btn"
        style="width:120px;background-color:gold">
        אישור</a>
</section> -->
<section *ngIf="MinyanNotSuccessfully" class="w3-display-middle w3-round w3-card-4 w3-center"
    style="border-style:double;width: 500px;height: 250px; border-color:#414040;">
    <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
        <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
    </div><br>
    <br>
    <h3>!!!הרשמתך לא נקלטה ,במערכת אנא נסה שוב</h3>
    <br>
    <a href="#" label="אישור" class="ui-button-raised ui-button-secondary btn"
        style="width:120px;background-color:gold ">
        אישור</a>
</section>
<!-- public Place?:number,
public PlaceName?:string,
 public PrayId?:number,
 public NusachId?:number,
 public ToraId?:number,
 public EventId?:number,
 public Hour?:string,
 public Before?:number,
 public After?:number,
 public Datetime?:Date,
 public DayId?:number ){} -->


<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->

<!-- <form [formGroup]="userform" (ngSubmit)="addMinyan()">
    <p-panel header="Validate">
        <div class="p-fluid forms-grid" style="margin: 1em 0">
            <div>
                <div>First Name *</div>
                <input pInputText type="text" formControlName="firstname" placeholder="Required"/>
                <p-message severity="error" text="Firstname is required" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty"></p-message>
            </div>
            <div>
                <div>Last Name *</div>
                <input pInputText type="text" formControlName="lastname" placeholder="Required"/>
                <p-message severity="error" text="Lastname is required" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message>
            </div>
            <div>
                <div>Password *</div>
                <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
                <p-message severity="error" [text]="userform.controls['password'].errors['required'] ? 'Password is required' : userform.controls['password'].errors['minlength'] ? 'Must be longer than 6 characters' : ''" 
                *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty"></p-message>
            </div>
            <div>
                <div>Description</div>
                <textarea pInputTextarea type="text" formControlName="description"></textarea>
            </div>
            <div>
                <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
            </div>

            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                Form Submitted
                <br>
            </div>
        </div>
    </p-panel>
</form>  -->