<body class="w3-container">
    <section *ngIf="!register && !mail" class="w3-display-middle w3-round w3-card-4" style="width: 500px;height: 400px; border-color:#414040; ">
        <!-- <div class="w3-round siteColor2 w3-header w3-center"
            style="height: 60px; background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"> -->
        <h2 style="text-align-last: center; color:rgb(153, 102, 0)">משתמש חדש</h2>
        <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
        <!-- </div> -->
        <div class="w3-content" style="padding-top: 15px; padding-right: 25px">
            <!-- <table> -->
            <form (ngSubmit)="registerUser()" #RegisterUserForm="ngForm" class="container w3-center">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group" style="width: 200px;">
                                <span class="ui-float-label " style="margin-left: 10px; ">
                                    <input id="float-input" class="w3-input  myInput  w3-animate-input " type="text" [(ngModel)]="newUser.firstName"
                                        required id="firstName" name="firstName" #firstName="ngModel" pattern="[A-Z a-z א-ת]*" pInputText>
                                    <label for="float-input" style="color: rgb(156, 154, 154);">שם פרטי</label>
                                </span>
                                <div style=" height:40px">
                                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                                        <small *ngIf="firstName.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>
                                        <small *ngIf="!firstName.errors.required && !firstName.valid" class="w3-text-red">
                                            שם לא תקין
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group" style="width: 200px;">
                                <span class="ui-float-label " style="margin-right: 10px;">
                                    <input id="float-input" class="w3-input  myInput  w3-animate-input" type="text" [(ngModel)]="newUser.lastName"
                                        required id="lastName" name="lastName" #lastName="ngModel" pattern="[A-Z a-z א-ת]*" pInputText>
                                    <label for="float-input" style="color: rgb(156, 154, 154);">שם משפחה</label>
                                </span>
                                <div style=" height:40px">
                                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                        <small *ngIf="lastName.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>
                                        <small *ngIf="!lastName.errors.required && !lastName.valid" class="w3-text-red">
                                            שם לא תקין
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group" style="width: 200px;">
                                <span class="ui-float-label " style="margin-left: 10px">
                                    <input id="float-input" class="w3-input  myInput  w3-animate-input " type="text" [(ngModel)]="newUser.Phone"
                                        id="Phone" name="Phone" #Phone="ngModel" pattern="[0-9]*" required minlength="9"
                                        maxlength="10" pInputText>
                                    <label for="float-input" style="color: rgb(156, 154, 154)">פלאפון</label>
                                </span>
                                <div style=" height:40px;">
                                    <div *ngIf="Phone.invalid && (Phone.dirty || Phone.touched)">
                                        <small *ngIf="Phone.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>

                                        <small *ngIf="Phone.errors.pattern" class="w3-text-red">
                                            מספר לא תקין
                                        </small>
                                        <small *ngIf="!Phone.errors.pattern && Phone.errors.minlength" class="w3-text-red">
                                            מספר קצר מידי
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group " style="width: 200px">
                                <span class="ui-float-label " style="margin-right: 10px">
                                    <input id="float-input" (change)="sameMail()" class="w3-input  myInput  w3-animate-input " type="email"
                                        pattern='{{EMAIL_REGEX}}' [(ngModel)]="newUser.id" required id="Mail" name="Mail"
                                        #Mail="ngModel" pInputText>
                                    <label for="float-input" style="color: rgb(156, 154, 154);">כתובת
                                        מייל</label>
                                </span>
                                <div style="height:40px">
                                    <div *ngIf="Mail.invalid && (Mail.dirty || Mail.touched)">
                                        <small *ngIf="Mail.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>
                                        <!-- <small *ngIf="mail" class="w3-text-red" >שם משתמש קיים במערכת. 
                                        <a [routerLink]="'/User'" style="color: rgb(129, 103, 15);">להתחברות</a>
                                    </small> -->
                                        <small *ngIf="Mail.errors.pattern" class="w3-text-red">
                                            כתובת מייל לא תקינה
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group " style="width: 200px">
                                <span class="ui-float-label has-feedback" style="margin-left: 10px">
                                    <input id="float-input" class="w3-input  myInput  w3-animate-input " id="pass1" type="password"
                                        [(ngModel)]="NewPassword1" name="NewPass1" id="NewPass1" #NewPass1="ngModel"
                                        required minlength="4" maxlength="10" pInputText>

                                    <span *ngIf="NewPassword1&&IsShow" (click)="CoverPass()" class="glyphicon glyphicon-eye-open eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <span *ngIf="NewPassword1&&!IsShow" (click)="ShowPass()" class="glyphicon glyphicon-eye-close eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <label style="color: rgb(156, 154, 154);">סיסמה
                                    </label>
                                </span>
                                <div style=" height:10px;">
                                    <div *ngIf="NewPass1.invalid && (NewPass1.dirty || NewPass1.touched)">
                                        <small *ngIf="NewPass1.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>
                                        <small *ngIf="NewPass1.errors.minlength" class="w3-text-red">
                                            אורך מינימום 4 תווים
                                        </small>
                                        <small *ngIf="NewPass1.errors.maxlength" class="w3-text-red">
                                            אורך מקסימום 10 תווים
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group " style="width: 200px">
                                <span class="ui-float-label has-feedback" style="margin-right: 10px">
                                    <input id="float-input" class="w3-input  myInput  w3-animate-input " id="pass1" type="password"
                                        [(ngModel)]="NewPassword2" name="NewPass2" id="NewPass2" #NewPass2="ngModel"
                                        required minlengths="4" maxlength="10" pInputText>

                                    <span *ngIf="NewPassword2&&IsShow" (click)="CoverPass()" class="glyphicon glyphicon-eye-open eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <span *ngIf="NewPassword2&&!IsShow" (click)="ShowPass()" class="glyphicon glyphicon-eye-close eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <label style="color: rgb(156, 154, 154);">אימות סיסמה</label>
                                </span>
                                <div style=" height:10px;">
                                    <div *ngIf="NewPass2.invalid && (NewPass2.dirty || NewPass2.touched)">
                                        <small *ngIf="NewPass2.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>
                                        <small *ngIf="NewPass2.errors.minlength" class="w3-text-red">
                                            אורך מינימום 4 תווים
                                        </small>
                                        <small *ngIf="NewPass2.errors.maxlength" class="w3-text-red">
                                            אורך מקסימום 10 תווים
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <div class=" w3-center">
                        <button label="הירשם" type="submit" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"
                            [disabled]="!RegisterUserForm.form.valid">
                            הירשם>></button>
                    </div>
                </tbody>
            </form>
            <!-- </table> -->
        </div>
    </section>
    <section *ngIf="mail" class="w3-display-middle w3-round w3-card-4 w3-center" style="border-style:double;width: 500px;height: 250px; border-color:#414040;">
        <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
            <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
        </div><br>
        <div class="w3-content" style="padding: 25px;">
            <h4> משתמש זה קיים במערכת
                <a [routerLink]="'/User'">להתחברות</a>
            </h4>
            <button (click)="tryAgain()" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)">נסה
                שוב</button>
            <a href="#" class="ui-button-raised ui-button-secondary btn" style="margin-right: 25px; width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)">ביטול</a>
        </div>
    </section>
    <section *ngIf="register" class="w3-display-middle w3-round w3-card-4 w3-center" style="border-style:double;width: 500px;height: 250px; border-color:#414040;">
        <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
            <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
        </div><br>
        <br>
        <h3>הרשמתך נקלטה במערכת</h3>
        <br>
        <a href="#" label="אישור" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color: rgb(0, 51, 102)">
            אישור</a>
    </section>
</body>