<body class="w3-container">
    <section *ngIf="checkUser" class="w3-display-middle w3-round w3-card-4" style="border-style:none;width: 500px;height: 300px; border-color:#414040; ">
        <!-- <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px; background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"> -->
        <h2 style="text-align-last: center; color:rgb(153, 102, 0)">איפוס סיסמה</h2>
        <!-- </div> -->
        <div class="w3-content" style="padding: 25px;">
            <!-- <table> -->

            <form (ngSubmit)="ValidateUser()" #UserLoginForm="ngForm" class="container w3-center">
                <strong class="w3-center" style="display: table-cell; color:rgb(0, 51, 102)">הכנס כתובת מייל וסיסמה
                    נוכחית</strong><br>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group " style="width: 200px">
                                <span class="ui-float-label " style="margin-left: 5px">
                                    <input id="float-input" class="w3-input  myInput  w3-animate-input " type="email" pattern='{{EMAIL_REGEX}}'
                                        [(ngModel)]="UserMail" required id="Mail" name="Mail" #Mail="ngModel" pInputText >
                                    <label for="float-input" style="color: rgb(156, 154, 154)">כתובת
                                        מייל</label>
                                </span>
                                <div style="height:40px; padding-top:8px">
                                    <div *ngIf="Mail.invalid && (Mail.dirty || Mail.touched)">
                                        <small *ngIf="Mail.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>

                                        <small *ngIf="Mail.errors.pattern" class="w3-text-red">
                                            כתובת מייל לא תקינה
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group " style="width: 200px">
                                <span class="ui-float-label has-feedback" style="margin-right: 5px">
                                    <input id="float-input" class="w3-input  myInput  w3-animate-input " id="pass1" type="password"
                                        [(ngModel)]="UserPassword" name="Password" id="Password" #Password="ngModel"
                                        required minlength="4" maxlength="10" pInputText>

                                    <span *ngIf="UserPassword&&IsShow" (click)="CoverPass('Password')" class="glyphicon glyphicon-eye-open eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <span *ngIf="UserPassword&&!IsShow" (click)="ShowPass('Password')" class="glyphicon glyphicon-eye-close eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <label for= "float-input"  style="color: rgb(156, 154, 154);">סיסמה
                                    </label>
                                </span>
                                <div style=" height:40px; padding-top:8px">
                                    <div *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                                        <small *ngIf="Password.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>
                                        <small *ngIf="Password.errors.minlength" class="w3-text-red">
                                            אורך מינימום 4 תווים
                                        </small>
                                        <small *ngIf="Password.errors.maxlength" class="w3-text-red">
                                            אורך מקסימום 10 תווים
                                        </small>
                                    </div>
                                </div>

                            </div>

                    </tr>
                    <p class="w3-center ">
                        <button label="הבא" type="submit" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"
                            [disabled]="!UserLoginForm.form.valid||saving">
                            <span> המשך>></span>

                            <!-- <span *ngIf="!saving"> המשך>></span> -->
                            <!-- <span *ngIf="saving"><i class="fas fa-spinner w3-spin "
                            style="color: rgb(255, 254, 254);font-size: medium;"></i></span> -->
                        </button>
                    </p>
                </tbody>
                <!-- <div class=" w3-center">
                <button label="הבא" type="submit" class="ui-button-raised ui-button-secondary btn"
                    style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"
                    [disabled]="!UserLoginForm.form.valid||saving">
                    <span *ngIf="!saving"> המשך>></span>
                    <span *ngIf="saving"><i class="fas fa-spinner w3-spin "
                            style="color: rgb(255, 254, 254);font-size: medium;"></i></span>
                </button>
            </div> -->
            </form>
            <!-- </table> -->
        </div>
    </section>

    <section *ngIf="failed" class="w3-display-middle w3-round w3-card-4 w3-center" style="border-style:none;width: 500px;height: 250px; border-color:#414040;">
        <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
            <!-- <img [src]="loginText" class='w3-margin' height="30px"> -->
        </div><br>
        <div class="w3-content" style="padding: 25px;">
            <h4 style="color:rgb(0, 51, 102)">הפרטים שהזנת שגויים או שאינך רשום במערכת</h4>
            <button (click)="tryAgain()" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)">נסה
                שוב</button>
            <a href="#" class="ui-button-raised ui-button-secondary btn" style="margin-right: 25px; width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)">ביטול</a>
            <!-- <a style="margin:5px;" (click)="tryAgain()">נסה שוב</a> -->
            <!-- <a style="margin:5px;" href="#">ביטול</a> -->
        </div>
    </section>

    <section *ngIf="newPassword" class="w3-display-middle w3-round w3-card-4" style="border-style:none;width: 500px;height: 300px; border-color:#414040; ">
        <!-- <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
        </div><br> -->
        <h2 style="text-align-last: center; color:rgb(153, 102, 0)">איפוס סיסמה</h2>
        <div class="w3-content" style="padding: 25px;">
            <!-- <table> -->
            <form (ngSubmit)="ChangePassword()" #NewPasswordForm="ngForm" class="container w3-center">
              
                    <strong class="w3-center" style="display: table-cell;">
                        <span *ngIf="(NewPass1.dirty || NewPass1.touched)&&(NewPass2.dirty || NewPass2.touched)&&!isSamePass() else checking"
                            class="w3-text-red">
                            הסיסמאות לא תואמות!</span>
                        <ng-template style="color:rgb(0, 51, 102)" #checking>בודק.....</ng-template>
                    </strong><br>
                    <tbody>
                    <tr>

                        <td>
                            <div class="form-group " style="width: 200px">
                                <span class="ui-float-label has-feedback" style="margin-left: 5px">
                                    <input id="float-input" class="w3-input  myInput  w3-animate-input " id="pass1" type="password"
                                        [(ngModel)]="NewPassword1" name="NewPass1" id="NewPass1" #NewPass1="ngModel"
                                        required minlength="4" maxlength="10" pInputText>

                                    <span *ngIf="NewPassword1&&IsShow" (click)="CoverPass('NewPass1')" 
                                        class="glyphicon glyphicon-eye-open eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <span *ngIf="NewPassword1&&!IsShow" (click)="ShowPass('NewPass1')" 
                                       class="glyphicon glyphicon-eye-close eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <label for= "float-input" style="color: rgb(156, 154, 154)">סיסמה
                                        חדשה</label>
                                </span>
                                <div style=" height:40px; padding-top:8px ">
                                    <div *ngIf="NewPass1.invalid && (NewPass1.dirty || NewPass1.touched)">
                                        <small *ngIf="NewPass1.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>
                                        <small *ngIf="NewPass1.errors.minlength" class="w3-text-red">
                                            אורך מינימום 4 תווים
                                        </small>
                                        <small *ngIf="NewPass1.errors.maxlength" class="w3-text-red">
                                            אורך מקסימום 10 תווים
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="form-group " style="width: 200px">
                                <span class="ui-float-label has-feedback" style="margin-right: 5px">
                                    <input id="float-input" class="w3-input  myInput  w3-animate-input " id="pass1" type="password"
                                        [(ngModel)]="NewPassword2" name="NewPass2" id="NewPass2" #NewPass2="ngModel"
                                        required minlengths="4" maxlength="10" pInputText>

                                    <span *ngIf="NewPassword2&&IsShow2" (click)="CoverPass('NewPass2')" class="glyphicon glyphicon-eye-open eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <span *ngIf="NewPassword2&&!IsShow2" (click)="ShowPass('NewPass2')" class="glyphicon glyphicon-eye-close eyeIcon w3-left"
                                        style="cursor: pointer; pointer-events: all;left: 0;">
                                    </span>
                                    <label for="float-input" style="color: rgb(156, 154, 154)">אימות סיסמה</label>

                                </span>
                                <div style=" height:40px; padding-top:8px">
                                    <div *ngIf="NewPass2.invalid && (NewPass2.dirty || NewPass2.touched)">
                                        <small *ngIf="NewPass2.errors.required" class="w3-text-red">
                                            שדה חובה
                                        </small>
                                        <small *ngIf="NewPass2.errors.minlength" class="w3-text-red">
                                            אורך מינימום 4 תווים
                                        </small>
                                        <small *ngIf="NewPass2.errors.maxlength" class="w3-text-red">
                                            אורך מקסימום 10 תווים
                                        </small>
                                    </div>


                                </div>

                            </div>

                        </td>
                        <br>

                    </tr>
                    <div class="col-md-12 w3-center">
                        <button label="הבא" type="submit" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)"
                            [disabled]="!NewPasswordForm.form.valid||saving1||!isSamePass()">
                            <span *ngIf="!saving1"> המשך>></span>
                            <span *ngIf="saving1"><i class="fas fa-spinner w3-spin " style="color: rgb(255, 254, 254);font-size: medium;"></i></span>

                        </button>
                    </div>
                </tbody>
            </form>
            <!-- </table> -->
        </div>
    </section>

    <section *ngIf="success" class="w3-display-middle w3-round w3-card-4 w3-center" style="border-style:none;width: 500px;height: 250px; border-color:#414040;">
        <div class="w3-round siteColor2 w3-header w3-center" style="height: 60px">
        </div><br>
        <br>
        <h3>הסיסמה שונתה בהצלחה!</h3>
        <br>
        <a href="#" label="סיום" class="ui-button-raised ui-button-secondary btn" style="width:120px;background-color:rgb(0, 51, 102); color:rgb(153, 102, 0)">
            סיום</a>
    </section>
</body>