<!-- <input type="button" value="new">
<p-table [value]="cars">
    <ng-template pTemplate="header">
        <tr>
            <th>מקום</th>
            <th>תפילה </th>
            <th>נוסח</th>
            <th>ס"ת</th>
            <th>מצב המנין</th>
            <th>תדירות</th>
            <th>תאריך</th>
            <th>שעה</th>
            <th>החזן-בעל העמוד</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.vin}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.year" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.year}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="brands" [(ngModel)]="rowData.brand" [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.brand}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.color">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.color}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table> -->

<h1 >המנינים שנרשמתי עליהם</h1>
<p-table dir="rtl" [value]="MyMinyanService.ListMM" dataKey="vin" editMode="row">
    <ng-template pTemplate="header">
        <tr>
            <th style="color: darkgoldenrod;">מקום</th>
            <th style="color: darkgoldenrod;">תפילה </th>
            <th style="color: darkgoldenrod;">נוסח</th>
            <th style="color: darkgoldenrod;">ס"ת</th>
            <th style="color: darkgoldenrod;">מצב המנין</th>
            <th style="color: darkgoldenrod;">תדירות</th>
            <th style="color: darkgoldenrod;">תאריך</th>
            <th style="color: darkgoldenrod;">שעה</th>
            <th style="color: darkgoldenrod;">החזן-בעל העמוד</th>

            <th style="width:8em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <!-- <td>
                {{rowData.PlaceName}}
            </td> -->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.PlaceName">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.PlaceName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="PrayService.ListP" [(ngModel)]="PrayId" optionLabel='Pray_name'
                            [style]="{'width':'70%'}  "></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.Pray}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="NusachService.ListN" [(ngModel)]="NusachId" optionLabel="Nusach1"
                            [style]="{'width':'70%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.Nusach}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="ToraService.ListT" [(ngModel)]="ToraId" optionLabel="Reson"
                            [style]="{'width':'70%'} "></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.Tora}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [(ngModel)]="rowData.situationId" [style]="{'width':'70%'}">
                        </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.situation}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="TadirutService.ListT" [(ngModel)]="Tadirut" optionLabel="Description"
                            [style]="{'width':'70%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.Tadirut}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="time" [(ngModel)]="rowData.Hour">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.Hour|date:"HH:mm"}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="date" [(ngModel)]="rowData.Datetime">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.Datetime|date:"HH:mm"}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input" [(ngModel)]="rowData.PlaceName ">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.PlaceName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <!-- <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button> -->
                <!-- <button pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button> -->
                <!-- <button pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" data-toggle="modal" data-target="#exampleModal"
                    (click)="onRowEditCancel(rowData.Id)"></button> -->
                <button type="button" class="ui-button-danger" (click)="showModalDialog(rowData.Id)" pButton
                    icon="pi pi-times"></button>


            </td>
        </tr>

    </ng-template>
</p-table>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->

<p-dialog [modal]="true" [(visible)]="delete" [style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <div style="text-align: center;" class="alert alert-info" role="alert">
        האם אתה בטוח שברצונך להסיר את הרשמתך למנין </div>
    <p-footer>

        <button (click)="onRowEditCancel()">מחק</button>

        <!-- <button type="button" pButton icon="pi pi-check" (click)="displayModal=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-times" (click)="displayModal=false" label="No" -->
        <!-- class="ui-button-secondary"></button> -->
    </p-footer>
</p-dialog>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Extra large modal</button> -->

<!-- <div *ngIf="delated" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            הוסרת מהמנין בהצלחה!!
        </div>
    </div>
</div> -->
<!-- <p-dialog header="Godfather I" [modal]="true" [(visible)]="delated" [position]="'top'" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false"> -->
<p-dialog [modal]="true" [(visible)]="delated" [position]="'top'" [style]="{width: '30vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">


    <div class="alert alert-primary" role="alert">
        הוסרת מהמנין בהצלחה!!
    </div>
</p-dialog>
<p-dialog header="Godfather I" [modal]="true" [(visible)]="!notDeleted" [position]="'top'" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-dialog [modal]="true" [(visible)]="!notDeleted" [position]="'top'" [style]="{width: '30vw'}" [baseZIndex]="10000"
        [draggable]="false" [resizable]="false">

        <p> המערכת מתקשה למחוק אותך אנא נסה שוב במועד מאוחר יותר

        </p>
    </p-dialog>

    <!-- <div *ngIf="!delated" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            המערכת מתקשה למחוק אותך אנא נסה שוב במועד מאוחר יותר
        </div>
    </div>
</div> -->
    <!-- Button trigger modal -->


    <!-- Modal -->

    <!-- 

constructor(public Id?: number,
public Place?: number,
public PlaceName?: string,
public PrayId?: number,
public Pray?: string,
public NusachId?: number,
public Nusach?: string,
public ToraId?: number,
public Tora?: string,
public reasonAmudId?: number,
public Amud?: string,
public Hour?: string,
public Before?: number,
public After?: number,
public Datetime?: Date,
public TadirutId?: number,
public Tadirut?: string,
public situationId?: number,
public KadishId?: number,
public Kadish?: string) { } -->