h1{
    text-align: center;
    color: goldenrod;
}
.dialog{
    color: red;
    height: 50%;
}

agm-map {
    height: 300px;
  }
  .hebrew-day {
    text-align: right;
    padding: 1rem 2rem 0.25rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    height:4rem;
    width: 4rem;
  }
  .hebrew-day:hover, .hebrew-day.focused {
    background-color: #e6e6e6;
  }
  .hebrew-day.selected {
    background-color: #007bff;
    color: white;
  }
  .outside {
    color: lightgray;
  }
  .gregorian-num {
    font-size: 0.5rem;
    direction: ltr;
  }
  .cal{
    height:5rem;
    width: 5rem;
  }
  .myInput{
    background-color: transparent; 
    border-bottom-color: #747070;
    margin: 5px;
    size: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
}