    i{
    font-size: 215px;
    color:      #88ff38; 
/* rgb(136, 255, 56) */
   margin: 15px;
    text-shadow:2px 2px 4px #575252;
    cursor: pointer;
    }
    i.fas.fa-address-card{
        margin-bottom: 5px;
    }
    i .changeUser{
        cursor: auto;
    }
    /* i:hover{
        color:  rgb(178, 255, 126); 
    } */
    a{
        text-decoration: none;
    }
    .iconCard{
        /* border-radius: 6px; */
    /* background-color: #575252; */
    max-width: 470px;
        margin: 8px;
        box-shadow: 1px #575252

}
label{
    font-size: 18px
}
    .iconCard:hover{
        background-color:#746f6faf;
       box-shadow:  inset 0px -1px 19px 10px rgba(0,0,0,0.2)
    }
   
    .iconCard:hover>.iconDiv{
    color: white;
    } 
      
   .iconDiv{
       cursor: pointer;
    margin: 35px;
    min-width: max-content;
    min-height: max-content;
       color: #575252;
       transition: all .2s ease-in-out;
   }
.iconDiv:hover{
    /* -ms-transform: scale(1.5); /* IE 9 */
  /*  -webkit-transform: scale(1.5);  Safari 3-8 */
    /*  */ 
    cursor: pointer;
    animation:bounceOut .9s linear;
    transform: scale(1.1); 

}

		
@keyframes bounceOut {
        0%{ transform: scale(1.1);opacity:1;}
        10%{ transform: scale(1.15);opacity:1;}
        20%{transform: scale(1.2); opacity:1;}
        30%{transform: scale(1.25); opacity:1;}
        40%{transform: scale(1.2); opacity:1;}
        50%{ transform: scale(1.15); opacity:1; }
        60%{transform: scale(1.2); opacity:1;}
        70%{transform: scale(1.25); opacity:1;}
        80%{transform: scale(1.2); opacity:1;}
        90%{transform: scale(1.15); opacity:1;}
        100%{transform: scale(1.1); opacity:1;}
}
   .changeUser:hover{
    background-color: #575252;

   }
   .changeUser>.iconDiv{
    margin: 10% 20%  10% 20%;

   }
   .changeUser:hover>.iconDiv{
    margin: 10% 20%  0% 20%;

   }
   .changeUser:hover>.iconDiv{
    background-color: #575252;

   }

  /* .changeUser :hover>.userLink{
    color: white
   } */

   
   .userLink{
    /* background-color: rgb(247, 245, 245); */
    width:min-content;
    margin-right: 40px;
    /* padding-top: 25px; */
    margin-top:40px;
    /* line-height: 40px; */
    font-size: 15px;
    cursor: pointer;
    color:#f83eab;
      /* font-size: 18px; */
      font-weight: bolder;
      /* border-left: 1.5px solid rgb(136, 255, 56); */
      padding:  3px ;
      list-style: none ;
      right: 20px; 
      text-decoration: none;

    }
   /* .userLink:last-child {
        border: none;
    } */
   .userLink:hover {
       text-decoration: underline;
   } 
    .userHeader{
    color: #f83eab;
    margin-top: 20px;
    font-weight: bolder;
    font-size:40px
    }
    .changeUser:hover>.iconDiv>.userLink{
color: white;
    }
    a.exit{
        margin:15px
    }
    .exit{
        color: #f83eab;
        font-size: 15px;
        margin: 3px;
        text-shadow: none;
        /* margin-bottom: 15px;
        padding-bottom: 15px; */
    }

    .exit:hover{
        text-decoration: underline;
    }
    