.HomeHeader{
    background-color: #575252;
    color:rgb(136, 255, 56);
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-bottom-color: rgb(136, 255, 56);
    height: max-content;
    font-weight: bold
    
 }
 h1, h2, h3, h4, h5, h6 {
   font-weight: 600;
 }
 

.mainNavIcon{
  padding: 5px 8px;
    font-size: 22px;
    color:#f83eab;
align-content: center
  }
.mainNavIcon:hover{
  box-shadow: 2px #575252;
  text-shadow: 1px white;
  color:white;
}
.mainNavIcon:active{
  box-shadow: 2px #575252;
  text-shadow: 1px white;
  color:white; 
}.mainNavIcon:focus{
  box-shadow: 2px #575252;
  text-shadow: 1px white;
  color:white; 
}
.sidebarIcon{
    padding: 12px 4px;
    font-weight:510;
    font-size: 20px
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #575252;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 10px;
    border-left:solid 1px rgb(136, 255, 56)

  }
  
  .sidebar a {

    white-space:nowrap ;   /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 15px;
    color:#ffffff ;
    display:block;
    transition: 0.3s;
    text-align: right;
    padding: 5px 15px 5px 5px ;
    border-right: solid 3px transparent

  }
  
  .sidebar a:hover {
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.2),0 4px 14px 0 rgba(0,0,0,0.19);
    color:#f83eab;

  }
  .sidebar a .mainNav:hover{
          box-shadow:0 0 0 0 rgba(0,0,0,0.2),0 0 0 0 rgba(0,0,0,0.19);
background-color: #fff;
  }
  .sidebar .sidebarIcon{
    color: #f83eab;

  } 
   .sidebar .sidebarIcon:hover{
    color: #f83eab;

  }
  .icon-bar .sidebarIcon:hover{
    color:white
  }

  
  #main {
    transition: margin-right .3s;
    padding: 0;
    margin-right: 60px
  }
  .icon-bar {
    min-width: max-content;
    width: 60px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #575252;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 10px;
    border-left:solid 1px rgb(136, 255, 56)
}
  .icon-bar a {
    display: block;
    text-align: center;
    /* padding: 10px; */
    transition: all 0.3s ease;
    color:rgb(136, 255, 56);
    font-size: 17px;
    border-right: solid 3px transparent;
    padding:  5px 10px;

    /* font-weight: 100 */
  }
  
  .icon-bar a:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.icon-bar  .active{
  border-right: solid 3px rgb(136,255,56)
}
.sidebar  .active{
  border-right: solid 3px #f83eab
}
